@import "color.variables",
        "mixins";

header {
  display: flex;
}

.sliding--menu__wrapper {
  overflow: hidden;
  @include menu-position();
  
  nav {
    @include nav-position();

    ul {
      @include menu-links();      
      .site--logo {
        width: 75px;
        padding: 15px;
      }
    }
    
    a {
      color: $white;
      display: block;
      padding: 15px;
      
      &:hover {
        background: $semi-light-black;
      }
    }
  }    
  
  label {
    display: block;
    font-weight: 700;
    width: 56px;
    height: 56px;
    line-height: 56px;
    color: $white;
    text-align: center;
    font-size: 2em;
    position: fixed;
    z-index: 2;
    @include menu-transition();
  }  
  
  .obfuscator {
    visibility: hidden;
    -moz-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;      
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    transition-duration: .5s;   
  }
  
  input[type="checkbox"] {
    display: none;
    
    &:checked ~ nav {
      margin-left: 0;
    } 
    
    &:checked ~ label {
      background: $white;
      left: 260px;
    }
    
    &:checked ~ .obfuscator {
      visibility: visible;
      pointer-events: auto;
      opacity: 0.5;
      background: $semi-light-black;
      z-index: 1;   
    }
  }
  
  // sliding menus based on position
  &.slide--top {
    @include menu-position(top);
    
    // navigation
    nav {
      @include nav-position(top);
      ul {
        @include menu-links(top);
      }      
    }
    
    // navigation open logic
    input[type="checkbox"] {   
      &:checked ~ nav {
        margin-top: 0;
      }
    }
    
    // menu open logic
    input[type="checkbox"] {   
      &:checked ~ label {
        top: 260px;
        left: auto; 
      }
    }        
  }
  
  &.slide--right {
    @include menu-position(right);
    
    // navigation    
    nav {
      @include nav-position(right);
      
      ul {
        @include menu-links(right);
      }      
    }
    
    // navigation open logic    
    input[type="checkbox"] {   
      &:checked ~ nav {
        margin-right: 0;
        margin-left: auto;
      }
    }
    
    // menu open logic    
    input[type="checkbox"] {   
      &:checked ~ label {
        right: 260px; 
        margin-left: auto; 
      }
    }        
  }
  
  &.slide--bottom {
    @include menu-position(bottom);
    
    label {
      bottom: 0;
    }
    
    // navigation    
    nav {
      @include nav-position(bottom);
      ul {
        @include menu-links(bottom);
      }      
    }
    
    // navigation open logic    
    input[type="checkbox"] {   
      &:checked ~ nav {
        margin-bottom: 0;
      }
    }
    
    // menu open logic    
    input[type="checkbox"] {   
      &:checked ~ label {
        bottom: 260px;
        left: auto;
      }
    }        
  }  
           
}
